@model IEnumerable<_21_11_2021.Areas.admin.Models.LienHe>

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liên hệ</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a>Trang chủ</a></li>
                            <li class="breadcrumb-item active">Liên hệ</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    @*@using (Html.BeginForm("Index", "LienHe", FormMethod.Get))
                                    {
                                    <p>
                                        <input type="datetime-local" asp-all-route-data="" />
                                        <input type="submit" value="Tìm kiếm" />
                                    </p>
                                    }*@

                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên khách hàng</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Chi tiết</th>
                                            <th>Ngày liên hệ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SDT)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ChiTiet)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayLienHe)
                                                </td>
                                                <td>
                                                    <div class="container-fluid">
                                                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">
                                                            @*<a data-toggle="modal" data-target="#flipFlop"></a>*@
                                                            <a asp-action="XoaLienHe" asp-controller="QuanLyLienHe" asp-route-id="@item.Id" style="color:white;">Xóa</a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            @*<a asp-action="Delete" asp-route-id="@item.MaDanhMuc">Delete</a>*@
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>