@model IEnumerable<_21_11_2021.Areas.admin.Models.Slideshows>

@{
    ViewData["Title"] = "Index";
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>SlideShow</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active">SlideShow</li>
                        </ol>
                    </div>
                </div>
            </div>
            @if (TempData["AlertMessage"] != null)
            {
                <div id="alert-box" class="alert @TempData["AlertType"] hide" style="background-color:blue; color:white;">
                    @TempData["AlertMessage"]
                </div>
            }
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a asp-action="Create"><i class="fas fa-plus-circle"></i></a>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Hình</th>
                                            <th>Nổi bật</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.TrangThai == true)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.IdSlideShow)</td>
                                                    <td><img src="~/slideshow/@Html.DisplayFor(modelItem => item.Hinh)" width="200px;" height="100px;" /></td>
                                                    <td>@Html.DisplayFor(modelItem => item.NoiBat)</td>
                                                    <td>
                                                        <div class="container-fluid">
                                                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#flipFlop">
                                                                <a asp-action="UpdateStatus" asp-route-id="@item.IdSlideShow" style="color:white;"> Xóa </a>
                                                            </button>
                                                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">
                                                                <a asp-action="Edit" asp-route-id="@item.IdSlideShow" style="color:white;">Cập nhật</a>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                            <!--Modal-->

                                            <!--End modal-->
                                            @*<a asp-action="Delete" asp-route-id="@item.MaDanhMuc">Delete</a>*@

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
