
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th>Đánh Giá</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var danhgia in ViewBag.DanhGia)
                            {
                                @foreach (var item1 in ViewBag.ChiTiet)
                                {
                                    @foreach (var item in ViewBag.SanPham)
                                    {
                                        if (item.MaSanPham == item1.MaSanPham && item.MaSanPham == danhgia.MaSanPham)
                                        {
                                            <tr>
                                                <td class="thumbnail-img">
                                                    <a>
                                                        <img class="img-fluid" src="~/pro/@item.HinhAnh" alt="" />
                                                    </a>
                                                </td>
                                                <td class="name-pr">
                                                    <a>
                                                        @item.TenSanPham
                                                    </a>

                                                </td>
                                                <td class="price-pr">
                                                    <p>$ @item.GiaDaKhuyenMai</p>
                                                </td>
                                                <td class="quantity-box">@item1.SoLuong</td>>
                                                <td class="total-pr">
                                                    <p>@Math.Round((decimal)(item.Gia)) &#8363;</p>

                                                </td>
                                                <td class="total-pr">
                                                    <p>@danhgia.ChiTiet</p>
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Thanh toán</h3>
                    <div class="d-flex">
                        <h4>Chiết khấu</h4>
                        <div class="ml-auto font-weight-bold">@Math.Round((decimal)(ViewBag.ChietKhau)) &#8363; </div>
                    </div>
                    <div class="d-flex gr-total">
                        <h5>Thành tiền</h5>
                        <div class="ml-auto h5">@Math.Round((decimal)(ViewBag.Tien)) &#8363;n </div>
                    </div>
                    <hr>
                    @foreach (var item in ViewBag.DonHang)
                    {
                        if (item.TrangThai == 1)
                        {
                            <div class="col-12 d-flex shopping-box">
                                <a class="ml-auto btn hvr-hover" asp-controller="Cart" asp-action="UpdateInvoice" asp-route-id="@item.IdDonHang">
                                    <input type="submit" value="Hủy Đơn Hàng" />
                                </a>
                            </div>
                        }
                        if (item.TrangThai == 0)
                        {
                            <div class="col-12 d-flex shopping-box">
                                <a class="ml-auto btn hvr-hover" asp-controller="Cart" asp-action="UpdateInvoice1" asp-route-id="@item.IdDonHang">
                                    <input type="submit" value="Đặt hàng lại" />
                                </a>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
    </div>
</div>
